@import "tailwindcss";

:root {
   --fundo: #05070f;
   --azul-escuro: #0a0d1d;
   --texto-1: #8e9bb4;
   --texto-2: #ffffff;
   --tema: #ffc72c;
}

@theme inline {
   --color-tema: var(--tema);
   --color-fundo: var(--fundo);
   --font-outfit: var(--font-outfit);
   --font-sora: var(--font-sora);
   --color-texto-1: var(--texto-1);
   --color-texto-2: var(--texto-2);
   --color-azul-escuro: var(--azul-escuro);
}

body {
   background: var(--fundo);
   font-family: var(--font-outfit);
   color: var(--texto-1);
}
